header {
    font-size: medium;
    width: 100%;
}
nav {
    width: 100%;
    padding: 30px;
    background-color: #002171;
    padding-right: 0px;
}
main {
    background-color: #395270;
    padding-bottom: 15px;
}
h1,h2,h3{
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}
.texto {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
#resumen {
    background-color: #819ca9;
    color: #00001e;
    padding: 10px;
}
#autor{
    font-size: large;
    color: #002171;
}
article {
text-align: center;
}
section {
font-size: large;
}
#articulo {
    background-color: #395270;
}
footer {
    background-color: #002171;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
#container {   
    background-color: #819ca9;
}
article {
    padding-top: 30px;
}
#logo {
    float: right;
}
.enlace {
    float: left;
    text-decoration: none;
    color: #ffffff;
    background-color: #00001e;
    padding: 10px;
    margin: 10px;
    margin-top: -20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.enlace:hover {
    background-color: #819ca9;
    color: #00001e;
}
img.destacada{
    border-radius: 20px;
}
table{
    width: 100%;
    text-align: center;
}