header {
font-size: medium;
}
nav {
    padding: 30px;
    background-color: #002171;
}
main {
    background-color: #395270;
}
.texto {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
#resumen {
    background-color: #819ca9;
    color: #00001e;
    padding: 10px;
}
#autor{
    font-size: large;
    color: #002171;
}
article {
text-align: center;
}
section {
font-size: large;
}
footer {
    background-color: #395270;
    padding: 10px;
}
footer.pie {
    background-color: #002171;
    text-align: center;
    color: #ffffff;
}
#container {   
    margin: 15px;
    padding: 10px;
    background-color: #819ca9;
}
article {
    margin: 15px;
    padding-top: 30px;
}
#cabecera {
    width: 100%;
}

#logo {
    float: right;
    margin-top: -40px;
    margin-bottom: 50px;
}
.enlace {
    float: left;
    text-decoration: none;
    color: #ffffff;
    background-color: #00001e;
    padding: 10px;
    margin: 10px;
    margin-top: -20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.enlace:hover {
    background-color: #819ca9;
    color: #00001e;
}
img.destacada{
    border-radius: 20px;
}
table{
    width: 100%;
    text-align: center;
}